Proposal/Backup*
Proposal/dist*
Proposal/bin*
Proposal/obj*
*.suo
*.log
*.out
*cabal.sandbox.config
*.cabal-sandbox*
*.aux
*.blg
*.odt
Generics/obj
Generics/bin
Generics/Provider/obj
Generics/Provider/bin
Backend/bin
Backend/obj
Generics/Tests/Generics.dll
Generics/Core/obj
Generics/Core/bin
Generics/Generics-NoTests.sln
Generics/Provider/packages.config
Generics/packages/
WGP/fsharp-generics.pdf
WGP/fsharp-generics.ptb
WGP/fsharp-generics.tex
test.dll
test.pdb
