Proposal/Backup*
Proposal/dist*
Proposal/bin*
Proposal/obj*
*.suo
*.log
*.out
*cabal.sandbox.config
*.cabal-sandbox*
*.aux
*.blg
*.odt
Generics/obj
Generics/bin
Generics/Provider/obj
Generics/Provider/bin
Backend/bin
Backend/obj
Generics/Tests/Generics.dll
Generics/Core/obj
Generics/Core/bin